@import url(variables.css);
body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background-color: var(--color-headerfooter);
    text-align: center;
    padding: 1rem;
    
  }
  
  
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 20px;
  } 
  
  nav {
    background-color: var(--color-navmaincolumn);
    color: #000;
    text-align: center;
    padding: 2%;
    font-weight: bold;
  }
  
  nav li {
    margin-right: 0;
  }
  
  nav a {
    color: inherit;
    text-decoration: none;
  }

  img{
    width: 500px;
  }
  
  main {
    padding: 2rem;
    background-color: var(--color-navmaincolumn);
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  footer {
    background-color: var(--color-headerfooter);
    text-align: center;
    padding: 1rem;
   
  }
  
  .row
  {
    overflow: hidden;
  }

  .column
  {
    width: 49%;
    background-color: var(--color-navmaincolumn);
    margin: 1px;
    color:var(--color-column) ;
    font-style: italic ;

    float: left;
  }
  
.pictogram
{
    width: 150px; 
    height: 93.5px; 
    margin-right: 10px; 

    float: left;
}

 .paragraph
 {
    font-style: italic;
    font-weight: bold;
 }



 .imgs
 {
    width: 300px;
 }


 .imgs1
 {
    height: 200px;
    width: 300px;
 }